In [48]:
import json

import geopandas as gpd
from sqlalchemy import create_engine

# load credentials from a file
with open("pg-credentials.json", "r") as f_in:
    pg_creds = json.load(f_in)

# 
HOST = pg_creds["HOST"]
USERNAME = pg_creds["USERNAME"]
PASSWORD = pg_creds["PASSWORD"]
DATABASE = pg_creds["DATABASE"]
PORT = pg_creds["PORT"]

# create a connection string
conn_string = f"postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

## 

### Create our database engine

The engine allows us to connect to the database and run queries on it. The queries can be returned and we can iterate over the returned object.

Read more about engines here: <https://docs.sqlalchemy.org/en/13/core/connections.html>

In [49]:
engine = create_engine(conn_string)
engine

Engine(postgresql://postgres:***@class-test-1.cwhpclw44byl.us-east-1.rds.amazonaws.com:5432/postgres)

## Querys with the `engine` object

In [52]:
engine.execute("SELECT 1").fetchall()

[(1,)]

## Let's look at the five bike stations furthest from Meyerson Hall

In [41]:
query = """
SELECT
  id AS station_id,
  name,
  ST_Distance(
    geom::geography,
    ST_SetSRID(ST_MakePoint(-75.19265679, 39.9522405), 4326)::geography
  ) as dist_meters
FROM indego_station_status
ORDER BY 3 DESC
LIMIT 5
"""

response = engine.execute(query)

# store results into a variable
results = response.fetchall()

## Inspect the results

In [54]:
type(results[0])

sqlalchemy.engine.result.RowProxy

In [43]:
for row in results:
    print(row)

(3183, '15th & Kitty Hawk', 7049.16530144)
(3186, '12th & Normandy', 6810.23984086)
(3181, 'Crescent Park', 6390.29556471)
(3097, 'Berks Station, MFL', 5864.19323231)
(3153, 'Thompson & Palmer, Adaire School', 5797.08343548)

In [45]:
columns = row.keys()
print(columns)

['station_id', 'name', 'dist_meters']

In [39]:
for row in results:
    print(f'Station {row["name"]} (with station ID {row["station_id"]}) is {round(row["dist_meters"] / 1000.0, 1)} km away')

Station 15th & Kitty Hawk (with station ID 3183) is 7.0 km away
Station 12th & Normandy (with station ID 3186) is 6.8 km away
Station Crescent Park (with station ID 3181) is 6.4 km away
Station Berks Station, MFL (with station ID 3097) is 5.9 km away
Station Thompson & Palmer, Adaire School (with station ID 3153) is 5.8 km away